@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #5a458c;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eee;
  padding: 0 4rem;
}
