@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #5a458c;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  /* background: url("./images/bg.jpg"); */
  /* background: url("https://cdn.hipwallpaper.com/i/65/2/P5TnGy.jpg"); */
  padding: 0 4rem;
}

@media (max-width: 1000px) {
  body {
    padding: 0 1rem;
  }
}
