.post {
  width: 25%;
  padding: 0.5em;
  justify-content: space-around;
}
.post .post-content {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  opacity: 0.96;

  position: relative;
}
/* post image container */
.post .img-container {
  position: relative;
}
.post .creator {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  color: white;
}
.post .dots {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: white;
}

.post .date {
  position: absolute;
  top: 2.2rem;
  left: 0.75rem;
  color: #eee;
  font-size: 0.7rem;
}

.post img {
  max-width: 100% !important;
  border-radius: 1rem 1rem 0 0;
}

/* post info */

.post .post-info {
  padding: 0.5rem;
}

.post .post-info .tags span {
  color: #aaa;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.post .post-info .title {
  font-size: 1.1rem;
  margin: 0.7rem 0;
  font-weight: 600;
}
.post .post-info .message {
  color: #777;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.post .actions {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}
.post .actions button {
  border: none;
  background: transparent;
  color: var(--primary-color);
}
.post .actions .delete {
  margin-left: auto;
  position: absolute;
  right: 0.5rem;
}

@media (max-width: 1000px) {
  .post {
    width: 50%;
  }
}

@media (max-width: 630px) {
  .post {
    width: 100%;
  }
}
